# OS files
Thumbs.db
.DS_Store

# Editor settings
.vscode/

# Build artifacts
output/
mapped/
log/
extracted/
extracted_html/
input/
output_docx/
presales/
presales_json/
structured/
templates/
SDT - Cegeka DBMS for Oracle on Azure \[PRD.0.8.001]\[PV1.0]\[DV1.0]_FILLED.docx
SDT - Cegeka DBMS for Oracle on Azure \[PRD.0.8.001]\[PV1.0]\[DV1.0].docx
SDT_DBMS_Oracle_Azure_FILLED.docx
